* {
  margin: 0;
}
#header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #353596;
  box-shadow: 1px 0 3px #000000;
}
#image-container img {
  width: 150px;
}
#table-outer-container {
  width: 98%;
  margin: 30px 10px;
}
#filter-date, #filter-tname, #filter-grade, #filter-marks-out-of-4, #filter-marks-out-of-8, #filter-marks-out-of-12 {
  color: #198754!important;
  cursor: pointer!important;
}
#filter-date:hover, #filter-tname:hover, #filter-grade:hover, #filter-marks-out-of-4:hover, #filter-marks-out-of-8:hover, #filter-marks-out-of-12:hover {
  color: #157347!important;
  cursor: pointer!important;
}
#show-more-reports-button, #master-filter-reports-button, #grade-marks-filter-reports-button {
  cursor: pointer !important;
  display: inline-block !important;
}
.get-report-card {
  cursor: pointer!important;
  color: #353596!important;
}